A Python Code makes a Summary of the City School District and its students 

**District Summary**

* A high level summary (in table form) of the district's key metrics, including:
  * Total Schools
  * Total Students
  * Total Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

**School Summary**

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per School Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two

In [8]:
import pandas as pd

In [9]:
schools=pd.read_csv('raw_data/schools_complete.csv')
students=pd.read_csv('raw_data/students_complete.csv')

# District Summary

High Level Summary

In [10]:
# District Summary calculations
school_count=len(schools['School ID'].unique())
student_count=len(students['Student ID'].unique())
total_budget=schools['budget'].sum()
math_mean=round(students['math_score'].mean(), 2)
reading_mean=round(students['reading_score'].mean(), 2)
student_passing_math=((((students[students['math_score'] >= 70]['Student ID'].count())/student_count)*100))
student_passing_reading=((((students[students['reading_score'] >= 70]['Student ID'].count())/student_count)*100))
overall_passing_rate=(student_passing_math + student_passing_reading)/2

# District Summary Dirctory
District_Summary_dict = {'Total Schools': school_count,
'Total Students': student_count, 
'Total Budget in $': total_budget,
'Average Math Score(%)': math_mean,
'Average Reading Score(%)': reading_mean,
'% Passing Math': round(student_passing_math,2),
'% Passing Reading': round(student_passing_reading, 2),
'% Overall Passing Rate': round(overall_passing_rate, 2)}

# High level summary
District_Summary = pd.DataFrame([District_Summary_dict], columns=District_Summary_dict.keys())
District_Summary

,Total Schools,Total Students,Total Budget in $,Average Math Score(%),Average Reading Score(%),% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.39

## School Summary
Overview table summary key metrics about each school:

In [12]:
# data marge for group by 
schools.rename(columns={'name':'school'}, inplace=True)
df_merge= pd.merge(students, schools, how='inner',  on='school')

#School Name  & #School Type
school_type=schools[['school', 'type']].set_index('school')['type']

#Total Students per school 
students_per_school=df_merge.groupby('school')['Student ID'].count()

#Total School Budget
budget_per_school = schools.groupby('school')['budget'].sum()
budget_per_school

#Per Student Budget
per_student_budget = budget_per_school /  students_per_school


#Average Math Score
average_math_score=df_merge.groupby('school')['math_score'].mean()

#Average Reading Score
average_reading_score=df_merge.groupby('school')['reading_score'].mean()
average_reading_score.head()

#% Passing Math Note Passing >= 70% 
count_math_pass=(df_merge[df_merge['math_score'] >= 70]).groupby('school')['Student ID'].count()
passing_math_perc=(count_math_pass/students_per_school)*100
passing_math_perc.head()

#% Passing Reading Note Passing >= 70% 

count_reading_pass=(df_merge[df_merge['reading_score'] >= 70]).groupby('school')['Student ID'].count()
passing_reading_perc=(count_reading_pass/students_per_school)*100
passing_reading_perc.head()


#Overall Passing Rate (Average of the above two)
passing_rate= (passing_reading_perc + passing_math_perc) / 2

# for the summary data from cols 
school_summary_cols=['School Type',
'Total Students', 
'Total School Budget', 
'Per Student Budget', 
'Average Math Score', 
'Average Reading Score', 
'% Passing Math', 
'% Passing Reading', 
'% Overall Passing Rate']

# creating a list with all summary srs. 
school_summary_data=[school_type, students_per_school, budget_per_school, per_student_budget, average_math_score, average_reading_score, passing_math_perc, passing_reading_perc, passing_reading_perc]

School_Summary =pd.concat(school_summary_data, axis=1)
School_Summary.columns=school_summary_cols

#formating $ of Budget 
School_Summary['Total School Budget'] = School_Summary['Total School Budget'].map('${:,.2f}'.format)
School_Summary['Per Student Budget'] = School_Summary['Per Student Budget'].map('${:,.2f}'.format)

# School Summary 
School_Summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,81.933280
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,97.039828
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,80.739234
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,79.299014
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,97.138965
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,80.862999
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,96.252927
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,81.316421
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,81.222432
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.945946
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,80.220055
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,95.854628
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,97.308869
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,96.539641
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,96.611111